* {
  background-color: #181a1b;
  color: white;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div.content {
  width: 500px;
  height: fit-content;
  margin: auto;
}

@media only screen and (max-width: 500px) {
  div.content {
    width: 95%;
  }
}

input, textarea {
  box-sizing: border-box;
  display: inline-block;
  border: 1px solid rgb(114, 113, 113);
  border-radius: 10px;
}

button.full, input.full, textarea.full, select.full {
  width: 100%;
}

button.half, input.half, textarea.half, select.half {
  display: inline;
  width: 50%;
}

button.focus {
  margin: 10px 1px;
  border: 1px solid green;
  border-radius: 20px;
  color: green;
}

button.secondary {
  margin: 10px 1px;
  border: 1px solid rgb(114, 113, 113);
  border-radius: 20px;
  color: rgb(114, 113, 113);
}

label.input-title {
  display: inline-block;
  width: 100%;
}

textarea.output {
  height: 100px;
}

h2 {
  text-align: center;
  text-transform: capitalize;
}